# Se ignorarán los siguientes archivos:
src/pruebas.py
src/recomendaciones_1.0.py
src/version_ultima.py
notebooks/prueba.ipynb
notebooks/version_ultima.ipynb
notebooks/generador_contraseñas_recomendaciones.ipynb

